<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FILMER V2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .hello {
            display: flex;
            /* flex-direction: column; */
            width: 50%;
            margin: auto;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            color: white;
        }

        .hello p {

            padding: 5px;
        }

        .h2 {
            background: #3f51b5;
            color: white;
            padding: 2px 7px;
            margin-left: 3px;
            box-shadow: 0px 0px 5px 1px;

        }

        .h2:disabled {
            background-color: rgba(17, 17, 17, 0.36);
            color: #161617;
        }

        #text {
            border-color: white;
            background: #ff000000;
            outline: white;
            color: white;
            box-shadow: -6px 1px 7px 0px;
            padding: 3px;
        }

        body {
            background: hsl(245deg 29% 11%);
        }

        * {
            box-sizing: border-box;
        }

        video {

            width: 100%;
            height: 360px;
        }

        img {
            background-size: cover;
        }



        .two {
            background: #2196f3;
            outline: none;
            border-radius: 20%;
            /* border: #eee solid; */
            color: white;
        }

        button:not(.h2) .lol {
            width: 100px;

            display: none;
        }

        .grid {

            margin-top: 20px;
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-auto-flow: column;
            overflow: auto;
        }

        h1 {
            color: #ffffff;

        }

        .grid div {

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            direction: rtl;
            background: rgb(31, 29, 52);
            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

        }

        .grid div img {
            overflow: hidden;
        }

        .grid button {
            border: none;
            background: #7267f0;
            padding: 10px;
            width: 100%;
            color: white;
            border-radius: 5px;
            font-family: 'Ubuntu', sans-serif;
        }

        .grid button:hover {
            background: #7267f09a;
        }

        .hi {
            display: flex;
            margin-bottom: 10px;

        }

        .hi img {
            width: 200px;
        }

        .text {
            color: white;
            direction: rtl;
        }

        .video {
            margin: auto;
            align-content: center;
            align-items: center;
            display: flex;
            width: 500px;
        }

        .in {
            overflow: hidden;
        }

        .title {
            text-align: center;
        }

        .videos {
            display: flex;
            flex-direction: column;
        }
    </style>

</head>

<body>
    <div>
        <h1 class="title">{{title}}</h1>
        <p class="text"></p>
    </div>
    <div class="videos">
        <video src={{h1}} controls></video>
        <div class="hello">{{{html}}}</div>
    </div>
    <div class="in">
        <p style="
    text-align: center;
    color: white;
    font-size: 40px;
    /* border: 1px  solid; */
    border: 1px 1px 1px 1px solid red;
    border: 1px red sold 1px blue red;
    border:  4px solid;
    border-left: none;
    border-right: none;
    padding: 10px;
">افلام مشابهة</p>

    </div>
    <script>
        let video = document.querySelector('video')
        document.querySelector('.hello p:first-child').setAttribute('style', 'border: 2px solid;padding: 5px;')
        video.onloadeddata = e => {
            console.log('start')
            let time = localStorage.getItem(location.href) || 0
            video.currentTime = time


        }
        video.ontimeupdate = e => {
            localStorage.setItem(location.href, video.currentTime)
        }
        document.addEventListener('click', e => {
            if (e.target.id == "q") {
                let q = document.querySelectorAll('#q')
                q.forEach(e2 => {
                    e2.removeAttribute('style')
                    e.target.setAttribute('style', 'border: 2px solid;padding: 5px;')
                    video.src = e.target.getAttribute('value')
                })
            }
        })

        document.addEventListener('click', e => {
            if (e.target.className === "goto") {
                window.open('/watch/' + e.target.value, "_blank")
            }
        }
        )
    </script>

</body>

</html>